@font-face {
    font-family: "Necto Mono";
    src: url("../fonts/Necto-Mono.woff2");
}

.layout {
    font-family: "Necto Mono";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: black;
    width: 100%;
    @include breakpoint(m) {
        position: fixed;
        height: calc(var(--vh, 1vh) * 100);
    }
    &__content {
        @include breakpoint(m) {
            background: url(../images/backg.svg);
            width: 850px;
            height: 620px;
            background-size: cover;
            position: relative;
        }
    }
}

.gen {
    height: 820px;
    @include breakpoint(m) {
        height: 620px;
    }
    &__title {
        text-align: center;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 20px;
        flex-direction: column;
    }
    &__main {
        height: 70%;
        display: flex;
        flex-direction: column;

        @include breakpoint(m) {
            height: 70%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-around;
        }
        &__maillot {
            height: 50%;
            width: 300px;
            transform: scale(1);
            margin-top: -8vh;
            @include breakpoint(m) {
                position: relative;
                width: 45%;
                height: 100%;
                margin-top: 0vh;
            }
            &__sub {
                position: absolute;
                top: 0px;
                left: 0px;
            }
        }
        &__btns {
            &__i {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    &__bottom {
        height: 18%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 15px;
        flex-direction: column;
        z-index: 99;
        position: relative;

        &__save {
            font-family: "Helvetica Neue";
            font-size: 30px;
            font-weight: 500;
            border: 1px solid black;
            border-radius: 100%;
            width: 170px;
            padding: 7px;
            margin: 0px auto 5px;
        }
        &__archives {
            text-decoration: none;
            color: black;
        }
    }
}

.archives {
    p {
        margin-bottom: 0px;
    }
    height: 620px;
    &__title {
        text-align: center;
        height: 11%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 20px;
        flex-direction: column;
    }
    &__content {
        overflow: scroll;
        height: 70%;
    }
    &__bottom {
        text-align: center;
        height: 18%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

        &__link {
            text-decoration: none;
            color: black;
        }
    }
}

.maillot-archive {
    position: relative;
    height: 300px;
    width: 290px;

    &__sub {
        position: absolute;
        top: 0px;
        left: 0px;
    }
}
